@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Monoton&family=Press+Start+2P&family=Rock+Salt&display=swap');
*{
    padding: 0;
    margin: 0;
}

.btn-start {
    padding: 5px 20px;
    margin: auto;
    display: block;
    background-color: #4bdcc6;
    border: none;
    font-family: 'Monoton', cursive;
    font-weight: 400;
}

.bnt-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img {
    text-align: center;
    margin: 20px 0;
    box-shadow: 0 0 0 100px inset, 0 0 5px grey;
    transition: box-shadow 1s;
    color: rgba(71, 121, 94, .9);
}
.img::after {
    width: 80%;
    height: 80%;
    display: block;
    white-space: pre;
    font: 15pt 'sigmar one';
    color: white;
    border: 2px solid;
    text-align: center;
    /* center content using flex box */
    display: flex;
    justify-content: center;
    align-items: center;
    /* hover out transition */
    transition: opacity 1s .5s;
}

.img:hover {
    box-shadow: 0 0 0 5px inset, 0 0 5px grey, 0 0 10px grey inset;
    transition: box-shadow 1s;
    transform: rotate(360deg);
}
.img:hover::after {
    opacity: 0;
    transition: opacity .5s;
}

.all-elements {
    text-align: center;
    width: 300px;
    margin: 30px auto;
    border: 2px solid black;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.64);
}

body {
    height: 100vh;
    background: url("./wallpaperbetter (1).jpg") no-repeat center/cover;
    width: 100%;

}

.bnt-answers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bnt-answer {
    padding: 5px 20px;
    margin-bottom: 10px;
    width: 140px;
    background-color: darkseagreen;
    border: none;
    font-family: 'Monoton', cursive;
    font-weight: 400;
}
.pokemon-title{
    font-family: 'Press Start 2P', cursive,sans-serif;
    font-weight: 400;
    margin-bottom: 20px;
}
.freeAttempt{
    font-family: 'Rock Salt', cursive;
    font-weight: 400;
}
.message-title{
    font-family: 'Rock Salt', cursive,sans-serif;
    font-weight: 400;
}
.score{
    font-family: 'Audiowide', cursive;
    font-weight: 400;
}